@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

:root{
    --title_color: #489AFE;
    --text_color: #636363;
    --primary-button_color: #318DFE;
    --primary-button_color-hover: #246DC8;
    --secondary-button_color: rgba(49, 141, 254, 0.1);
    --terciary-button_color: #318DFE;
    --border-radius_buttons: 8px;
    --container-width: 1080px
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Open Sans';
    font-style: normal;
}

h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;

}


h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: var(--primary-button_color);

}

h3{
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
}

h4{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}


h5{
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
}

h6{
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
}

p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;

}

.navbar_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
    gap: 363px;

    width: 100%;
    max-width: var(--container-width);
    height: 64px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 3;
    width: 100%;
    height: 100px;
    padding: 10px 0px;
    transition: 0.6s;
}

.navbar.sticky{
    background-color: #ffffff;
    height: 50px;
}

.navbar.sticky .navbar_logo-container img{
    height: 30px;
    transition: 0.6s;
}

.navbar.sticky .btn{
    height: 32px;
    transition: 0.6s;

}

.navbar .navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 60px;

    list-style-type: none;
}

.primary-color-text{
    text-decoration: none;
    color: var(--primary-300);
    font-weight: 600;
}

.navbar_container>img{
    width: 190px;
    height: 43px;
    transition: 0.6s;

}

.navbar_contenido{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
    gap: 40px;

    width: 450px;
    height: 44px;
}

.navbar_contenido h6{
    font-weight: 700;
    color: #FF560B;
}



.btn{
    height: 48px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    cursor: pointer;
    width: max-content;
    transition: 0.6s;

}

.primary-btn{
    background-color: var(--primary-button_color);
    color: #FFFFFF;
    border: none ;
    filter: drop-shadow(0px 5px 25px rgba(0, 0, 0, 0.15));

}

.whatsapp-btn{
    background-color: #25D366;
    color: #FFFFFF;
    border: none ;
    padding: 0 16px !important;
    gap: 8px !important;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.15));
}

.whatsapp-btn:hover{
background-color: #128C7E;
filter: drop-shadow(0px 7px 25px rgba(0, 0, 0, 0.3));

}



.primary-btn:hover{
    background: var(--primary-button_color-hover);
}

.alt-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 12px;
    
    color: var(--primary-button_color);
    border: 1px solid var(--primary-button_color);
    border-radius: 8px;

}

.alt-btn:hover{
    background: var(--primary-button_color);
    color: white;
}

.blue-text{
    color: #3A3A8B;
}

.navbar .icon {
    display: none;
    width: 48px;
    height: 48px;
    background-color: var(--grey);
    border-radius: 8px;
}

.web_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 110px 0px 64px 0px;
    gap: 80px;
    max-width: var(--container-width);
}


.banner_container{
    /* background: url("img/banner.png"); */
    display: flex;
    width: var(--container-width);
    height: 560px;
    overflow: hidden;
    border-radius: 16px;
    position: relative; 
}


.banner-title{

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 15px;
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
    text-align: left;
    padding: 40px;
    
    background: linear-gradient(255.06deg, rgba(45, 141, 254, 0.1) -0.62%, rgba(45, 141, 254, 0.4) 69.4%, rgba(45, 141, 254, 0.6) 100%);
}

.banner_container>img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.banner-textos{
    display: flex;
    flex-direction: column;
    max-width: 730px;
    gap: 10px;
    
}

.tittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: auto;
}



.examen_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 24px;
    gap: 76px;

    width: var(--container-width);

    /* background */
    
    background: radial-gradient(43.52% 171.38% at 1.99% 0%, rgba(72, 194, 196, 0.1) 0%, rgba(72, 194, 196, 0) 98.44%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
    /* Buttons */
    
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

.examen_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 100%;
}

.examen_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.servicios_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: var(--container-width);
}

.servicios_container-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: var(--container-width);
}

.servicios_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 20px;

    width: 100%;
    height: 353px;

    background: #FFFFFF;
    /* secondary */

    box-shadow: 0px 5px 20px rgba(32, 32, 32, 0.1);
    border-radius: 12px;
}

.servicios_card>img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.servicios_card>p{
    font-weight: 700;
    text-align: center;
}

.servicios_card>a{
    width: 100%;
}

.servicios_card-adicional{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 353px;
    padding-right: 4px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/card_bg.jpg);
    /* secondary */

    box-shadow: 0px 5px 20px rgba(32, 32, 32, 0.1);
    border-radius: 12px;

}

.servicios_card-adicional p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.ubicacion_container{
    display: flex;
    align-items: flex-start;
    gap: 40px;

    width: var(--container-width);
    height: 340px;
}

.ubicacion_container>img{
    width: 360px;
    border-radius: 16px;
}

.ubicacion_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 100%;
    height: 100%;
}

.donde-estamos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.resultados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.resultados>p{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.chips_row{
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.chips_column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.chips_column>div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 15px 5px 5px;
    gap: 8px;

    background: rgba(72, 194, 196, 0.1);
    border-radius: 8px;
}

.chips_column p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.pago_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 40px;

    width: var(--container-width);

    /* background */

    background: radial-gradient(43.52% 171.38% at 1.99% 0%, rgba(72, 194, 196, 0.1) 0%, rgba(72, 194, 196, 0) 98.44%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
    /* Buttons */

    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

.pago_titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    gap: 24px;

    width: 100%;

}

.tipos-pago{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
}

.payment_column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    }

    
.payment_column h3{
    font-weight: 700;
    color: var(--primary-button_color);
}

.payment_column img{
    height: 64px;
}





footer{
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #F0FFFF;
    overflow: visible;
    padding: 20px 0;
}

.footer-container{
    width: 100%;
    max-width: var(--container-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    gap: 40px;

}

footer .logo-footer{
    height: 70px;
    
}

.social-media__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.follow-us__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.social-media__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-media__icons>a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 12px;

    background: rgba(45, 141, 254, 0.1);
    border-radius: 8px;
}

.social-media__container>a, .navbar_contenido>a{
    text-decoration: none;
}

.footer-creadores{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hecho-por{
    display: flex;
    gap: 4px;
    
}

.primary-text{
    color: var(--primary-300);
    font-weight: 700;
}

.hecho-por a{
    color: var(--grey);
    text-decoration: none;
}
.footer-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    gap: 30px;
}

.footer-info .detalle{
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: right;
}
